body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card {
  height: 250px;
}

.brand-logo {
  margin-left: 15px;
}

.spinner {
  display: flex;
  margin: 0 auto;
}

.actions {
  margin-top: 30px;
}

.lever {
  margin-left: 0px !important;
}
